{% block body %}
    <form action='/update_view/{{ cereal_object.pk }}/' enctype="multipart/form-date" method='POST'>
        {% csrf_token %}


        <p>

            Cereal Name: <input type='text' name='name' value='{{ cereal_object.name }}' />

        </p>

        <p>

            Hot or Cold: <input type='text' name='hctype' value='{{ cereal_object.hctype }}' />

        </p>

        <p>

            Calories: <input type='text' name='calores' value='{{ cereal_object.calories }}' />

        </p>

        <p>

            Protein: <input type='text' name='protein' value='{{ cereal_object.protein }}' />

        </p>

        <p>

            Fat: <input type='text' name='fat' value='{{ cereal_object.fat }}' />

        </p>

        <p>

            Sodium: <input type='text' name='sodium' value='{{ cereal_object.sodium }}' />

        </p>

        <p>

            Fiber: <input type='text' name='fiber' value='{{ cereal_object.fiber }}' />

        </p>

        <p>

            Carbs: <input type='text' name='carbs' value='{{ cereal_object.carbs }}' />

        </p>

        <p>

            Sugars: <input type='text' name='sugars' value='{{ cereal_object.sugars }}' />

        </p>

        <p>

            <input type='submit' value='Update Cereal' />

        </p>

    </form>

    <p>

    <a href="/cereal_list/">Back to List</a>

{% endblock %}